<header>
     
<h1>RE(IN-EVENT) THE WAY YOU MANAGE YOUR <strong>VENUE</strong></h1>
<p class="light">A CRM solution for the most in-demand events in the world</p>
<div class='demo'>
    
<a  href="#">TRY OUR DEMO</a>
</div>
<span>
    <a href="">
        <i class="down-icon">
                ::before    
        </i>
    </a> 
</span>
</header>
<%= render "layouts/features"%>
<%= render "layouts/work"%>
<%= render "layouts/bottomhalf"%>
<%= render "layouts/images"%>
<%= render "layouts/midbottom"%>
<%= render "layouts/footer"%>