<br>
<div class="forpadding">

<% @events.each do |e| %>
<%= e.name %>
<%= e.date.strftime("%b") %>
<%= e.date.strftime("%d") %>
<%= e.date.strftime("%Y") %>
<%= link_to "Tables View", event_path(e)%>
<%= link_to "Reservations", event_reservations_path(e)%>
<%= link_to "Guestlist", event_guestlists_path(e)%>
<%= link_to "Manage Inventory", event_path(e)%>
<%= link_to "Promote", event_path(e)%><br>
<% end %>

</div>
