<table>
  <thead>
    <tr>
      
      <th>Name</th>
      <th>Guest Count</th></th>
      <th>Min</th>
      <th>Spent</th>
      <th>Tables</th>
      <th>Status</th>
      <th>Server</th>
      <th>Added By</th>
      <th>Notes</th>
      <th>Venues Id</th>
      <th colspan="10"></th>
    </tr>
  </thead>


<div class='resindex'>
<% @resos.each do |reso| %>
<tr>
<td><%= reso.name %></td>
<td><%= reso.guest_count %></td>
<td><%= reso.min %></td>
<td><%= reso.spent %></td>
<td><%= reso.tables%></td>
<td><%= reso.status %></td>
<td><%= reso.server %></td>
<td><%= reso.added_by %></td>
<td><%= reso.notes %></td>
<td><%= reso.venues_id %></td>


</tr>
<% end %>

