<div class="picgrid">
<div class="row firstly">
      <div class="customer  col"> <%= image_tag("client1.jpg", height: 261, width: 308) %></div>
      <div class="customer col"> <%= image_tag("client2.jpg", height: 260, width: 308) %></div>
       <div class="customer  col"><%= image_tag("client3.jpg", height: 260, width: 308) %></div>
       </div>
      <div class="row">
       <div class="customer  col"><%= image_tag("client4.jpg", height: 260, width: 308) %></div>
       <div class="customer col"><%= image_tag("client5.jpg", height: 261, width: 308) %></div>
       <div class="customer col"><%= image_tag("client6.jpg", height: 260, width: 308) %></div>
       </div>
       <div class="row last">
       <div class="customer col"><%= image_tag("client7.jpg", height: 260, width: 308) %></div>
       <div class="customer col"><%= image_tag("client8.jpg", height: 260, width: 308) %></div>
       <div class="customer col"><%= image_tag("client9.jpg", height: 260, width: 308) %></div>
       </div>
       </div>
       
       
       
       
       