

      <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"> <%= image_tag("client1.jpg", height: 260, width: 308) %></div>
      <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"> <%= image_tag("client2.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client3.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client4.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client5.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client6.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client7.jpg", height: 260, width: 308) %></div>
       <div class="customer col-xs-12 col-sm-6 col-md-4 col-lg-3"><%= image_tag("client8.jpg", height: 260, width: 308) %></div>
       
       
       
       
       
       
       